# Titanic Kaggle Competition

This file will contain code to evaluate whether a passenger on the titanic survived or not

In [1]:
import pandas as pd

train_file = pd.read_csv('train.csv')
test_file = pd.read_csv('test.csv')

train_file.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Cean the data

Removing unusable/unhelpful data

In [2]:
def clean(data):
    data = data.drop(['Ticket','Cabin','Name','PassengerId'], axis=1)
    
    cols=['SibSp','Parch','Fare','Age']
    for col in cols:
        data[col].fillna(data[col].median, inplace=True)
        
    data.Embarked.fillna('U', inplace=True)
    
    return data

train = clean(train_file)
test = clean(test_file)

train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

## Transfrom non-numeric data to numeric data

Change female and male to 0 and 1

Change Embarked letter to 0, 1, 2, 3

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

cols = ['Sex','Embarked']

for col in cols:
    train[col] = le.fit_transform(train[col])
    test[col] = le.transform(test[col])
    print(le.classes_)
    
train.head()

['female' 'male']
['C' 'Q' 'S' 'U']

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

## Split the train file into train and test

In [4]:
from sklearn.model_selection import train_test_split

y = train['Survived']
X = train[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Fit the model to the data

In [5]:
X_train.shape

(712, 7)

In [6]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=0, max_iter=1000)
clf.fit(X_train, 
        y_train)

TypeError: float() argument must be a string or a real number, not 'method'